<mat-toolbar class="mat-elevation-z6" color="primary">
  <button mat-button (click)="sidenav.toggle()">SKAN</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" closed class="sidenav">
    <button mat-button class="sidenav-button" matTooltip="Profile" matTooltipPosition="after">
      <mat-icon class="sidenav-icon">person</mat-icon>
    </button>
    <button mat-button class="sidenav-button" matTooltip="Weather" matTooltipPosition="after">
      <mat-icon class="sidenav-icon">cloud</mat-icon>
    </button>
  </mat-sidenav>


  <mat-sidenav-content>
    PROFILE
  </mat-sidenav-content>
</mat-sidenav-container>
